<div class="container mt-5">
  <div style="text-align: center;" *ngIf="!regiterMode && !learnMore">
    <h1>Find your bestie</h1>
    <p class="lead">
      Come on in to view your best friend ... All you need to do is Sign Up!
    </p>
    <div class="text-center">
      <button (click)="regiterToggle()" class="btn btn-outline-primary btn-lg me-2">Sign Up</button>
      <button (click)="learnMoreToggle()" class="btn btn-outline-info btn-lg">Learn More</button>
    </div>
  </div>
  <div class="container" *ngIf="regiterMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>

      </div>
    </div>
  </div>
  <div class="container" *ngIf="learnMore">
    <div class="row justify-content-center">
      <div class="col-4">
        <p>Your bestie is your best friend.</p>
        <button (click)="learnMoreToggle()" class="btn btn-primary btn-sm">Back to home</button>
      </div>
    </div>
  </div>
</div>



