<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/' routerLinkActive='active'><img style="height: 40px; width: 40px;" src="../assets/icon.bmp"> Friends</a>
       <!-- Not used -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="collapseBasic" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">

        <!-- /////////////////////////////////////////// -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.curentUser$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
          </li>
        </ul>

        <div class="btn-group"  *ngIf="(accountService.curentUser$ | async) as user" dropdown>
          <a id="button-basic" dropdownToggle type="button" class="navbar-brand dropdown-toggle"aria-controls="dropdown-basic">
            Welcome <strong>{{user.username | titlecase}}</strong>
          <span class="caret"></span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mt-2"
             role="menu" aria-labelledby="button-basic">
             <li role="menuitem"><a class="dropdown-item" href="#">Edit profile</a></li>
             <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>

        </div>
        <div class="container me-auto col-10" style="text-align: center;"  *ngIf="(accountService.curentUser$ | async) === null">
        <form  #loginForm="ngForm" class="d-flex" role="text" (ngSubmit)="login()" autocomplete="off">
          <input
           name="username"
           [(ngModel)]="model.username"
           class="form-control me-2"
           type="text"
           placeholder="Username">
          <input
           name="password"
           [(ngModel)]="model.password"
           class="form-control me-2"
           type="password"
           placeholder="Password">
          <button class="btn btn-secondary" type="submit" >Login</button>
        </form>
      </div>
    </div>
    </div>
  </nav>
</header>
